---
title: Past Events Archive
layout: main-layout.hbs
base: ../
---
<div id="events" class="content-padding content-background">
    <section class="event">
        <h2 class="divider green-heading">MG&nbsp;International, Atlantic&nbsp;City&nbsp;2021</h2>
        <div class="details">
            <p class="date">June&nbsp;14&nbsp;to&nbsp;17, 2021</p>
        </div>

        <img class="logo" src="img/MMM2021-logo.png?cb=0" alt="MG International/MMM National Meet 2021" /> <img class="logo" src="img/MG2021-logo.png?cb=0" alt="" /><br class="content-block">

        <div class="details">
            <h2 class="green-heading">MG International Photo Album</h3>
            {{#repeat 15}}
            <a class="doc-thumb" href="events-archive/#ac2021-{{@count}}">
                <img class="shadowed" src="thumb/ac2021-{{@count}}.jpg" alt="" title="Click to enlarge">
            </a>
            {{/repeat}}
        </div>
    </section>
    <section class="event">
        <h2 class="divider green-heading">2020 NAMMMR National Meet 
            &mdash; Colorado Springs, Colorado</h2>
        <div class="details">
            <img class="logo" src="img/2020-cosprings-meet-logo.png?cb=0">
            <h3>Unfortunately our 2020 national meet was cancelled due to the COVID-19 pandemic.</h3>
            <h3>We want to thank the North American MGA Register, The MG Car Club Rocky Mountain Center and our own Alan Magnuson for the hundreds of hours they spent creating and organizing what was going to be a great MG experience out here in the Colorado Rockies.</h3> 
                <img class="float-right" src="img/2020-gt-45-logo.png" style="max-height: 154px;">
                <img class="float-right" src="img/mgcc-rmc-logo.png">
        </div>
    </section>
    <section class="event">
        <h2 class="divider green-heading">2019 NAMMMR National Meet 
            &mdash; Bowling Green Kentucky</h2>
        <div class="details">
            <img class="logo" src="img/2019-bowling-green-logo.png"
                alt="2019: NAMMMR & Bowling Green Kentucky, Both Geared for Fun!">
            <p class="date">June 19 to 22, 2019</p>
            <img class="float-right wide-only" src="img/m-type-pastoral.jpg">
            <h3 class="green-heading">Event Recap</h3>
            <p>Sarah and Bill Richey provided our Register with one of the
            most exciting and well planned National Meets our Register has
            ever experienced. The three day event was filled with good old
            southern Kentucky charm and hospitality. We were blessed to have
            68 members in attendance. We were also most fortunate to have Mr.
            Peter Cook, Overseas Director of the MG Car Club UK and Mr. Adam
            Sloman, Managing Director of the MG Car Club UK in attendance to
            participate in our National Meet.
            <p> Sarah and Bill, you really did show us the best of Southern
            hospitality of Kentucky. It was a first class North American MMM
            Register National Meet.</p>
        </div>
        <div class="details">
            <h2 class="green-heading">Bowling Green Meet Photo Album</h3>
            {{#repeat 16}}
            <a class="doc-thumb" href="events-archive/#bg2019-{{@count}}">
                <img class="shadowed" src="thumb/bg2019-{{@count}}.jpg" alt="" title="Click to enlarge">
            </a>
            {{/repeat}}
        </div>

    </section>
    <section class="event">
        <h2 class="divider">67th Annual Rallye Glenwood Springs</h2>
        <a class="plain" href="https://mgcc.org/rallye-glenwood-springs/">
        <img class="logo" src="img/2019-glenwood-logo.jpg" alt="Celebrating 90 years of MG sports cars">
        </a>
        <p class="date">June 7-9, 2019</p>
    </section>

    <div id="carousel" aria-modal="true" class="modal">
        <div class="element">
            <a href="{{page.url}}#" class="plain close nav" aria-label="close" onclick="$('#carousel').hide(200)">&times;</a>
            <a class="plain prev nav" aria-label="previous"">&lang;</a>
            <a class="plain next nav" aria-label="next">&rang;</a>
            <div class="caption"></div>
        </div>
    </div>

    <script>
        var photos = [
        {{#repeat 15}}
            {
                id: "#ac2021-{{@count}}",
                img: "photos/ac2021-{{@count}}.jpg",
                caption: "MG International, Atlantic City 2021",
            },
        {{/repeat}}

        {{#repeat 16}}
            {
                id: "#bg2019-{{@count}}",
                {{#if @first}}
                caption: "UK guests: Adam Sloman, MGCC General Manager; Peter Cook, MGCC Overseas Director",
                {{else if @second}}
                caption: "Peter & Beverly Thornley (John Thornley's son)",
                {{else}}
                caption: "2019 MMM National Meet, Bowling Green KY",
                {{/if}}
                img: "photos/bg2019-{{@count}}.jpg",
            },
        {{/repeat}}
        ];

        function documentReady() {
            new Carousel($('#carousel'), photos, true);
        }
    </script>
</div>

