---
title: Events
layout: main-layout.hbs
base: ../
---
<div id="events" class="content-padding content-background">
    <section class="event">
        <h2 class="divider green-heading">2019 NAMMMR National Meet 
            &mdash; Bowling Green Kentucky</h2>
        <div class="details">
            <img class="logo" src="img/2019-bowling-green-logo.png"
                alt="2019: NAMMMR & Bowling Green Kentucky, Both Geared for Fun!">
            <p class="date">June 19 to 22, 2019</p>
            <img class="float-right wide-only" src="img/m-type-pastoral.jpg">
            <h3 class="green-heading">Event Recap</h3>
            <p>Sarah and Bill Richey provided our Register with one of the
            most exciting and well planned National Meets our Register has
            ever experienced. The three day event was filled with good old
            southern Kentucky charm and hospitality. We were blessed to have
            68 members in attendance. We were also most fortunate to have Mr.
            Peter Cook, Overseas Director of the MG Car Club UK and Mr. Adam
            Sloman, Managing Director of the MG Car Club UK in attendance to
            participate in our National Meet.
            <p> Sarah and Bill, you really did show us the best of Southern
            hospitality of Kentucky. It was a first class North American MMM
            Register National Meet.</p>
        </div>
        <div class="details">
            <h2 class="green-heading">Bowling Green Meet Photo Album</h3>
            <div id="carousel" aria-modal="true" class="modal">
                <div class="element">
                    <a href="{{page.url}}#" class="plain close nav" aria-label="close" onclick="$('#carousel').hide(200)">&times;</a>
                    <a class="plain prev nav" aria-label="previous"">&lang;</a>
                    <a class="plain next nav" aria-label="next">&rang;</a>
                    <div class="caption"></div>
                </div>
            </div>
            {{#repeat 16}}
            <a class="doc-thumb" href="events/#bg2019-{{@count}}">
                <img class="shadowed" src="thumb/bg2019-{{@count}}.jpg" alt="" title="Click to enlarge">
            </a>
            {{/repeat}}
        </div>
    </section>
    <div class="back-link">
        <a href="events-archive/">Previous Events</a>
        <span class="arrow">&blacktriangleright;</span>
    </div>
</div>

<script>
    var bg2019 = [
    {{#repeat 16}}
        {
            id: "#bg2019-{{@count}}",
            {{#if @first}}
            caption: "UK guests: Adam Sloman, MGCC General Manager; Peter Cook, MGCC Overseas Director",
            {{else if @second}}
            caption: "Peter & Beverly Thornley (John Thornley's son)",
            {{else}}
            caption: "2019 MMM National Meet, Bowling Green KY",
            {{/if}}
            img: "photos/bg2019-{{@count}}.jpg",
        },
    {{/repeat}}
    ];

    function documentReady() {
        new Carousel($('#carousel'), bg2019, true);
    }
</script>
