---
layout: main-layout.hbs
title: For Sale
base: ../
---
<div id="for-sale" class="content-background">
<div id="pin-to-top" class="jump-links">
  <b class="wide-only">Jump To:</b>
  <ul>
    <li class="wide-only"><a href="for-sale/#cars">Cars For Sale</a></li>
	<li><a href="for-sale/#parts">Parts For Sale</a></li>
	<li><a href="for-sale/#wanted">Parts Wanted</a></li>
  </ul>
</div>
<a name="cars"></a><h2 class="divider">Cars For Sale</h2>
{{#each (reverse collections/cars-for-sale)}}
<a class="plain content-padding item {{#unless @last}}divided{{/unless}}"
   href="for-sale/{{fileSlug}}/">
    <img class="thumb" src="thumb/{{fileSlug}}-1.jpg" alt="">
    <div class="summary">
    <h3>{{data/title}}</h3>
    <p>{{data/summary}}</p>
    {{#if data/price}}<p><strong>Price:</strong> {{data/price}}</p>{{/if}}
    </div>
</a>
{{/each}}
{{#if collections/parts-for-sale}}
<a name="parts"></a><h2 class="divider">Parts For Sale</h2>
{{#each (reverse collections/parts-for-sale)}}
<div class="content-padding item {{#unless @last}}divided{{/unless}}">
    <h3>{{data/title}}</h3>
    {{{templateContent}}}
</div>
{{/each}}
{{/if}}
<a name="wanted"></a><h2 class="divider">Parts Wanted</h2>
<div class="content-padding divided">
    <p><strong>Wanted:</strong>
    I'm looking for 2 qty 18" rims with standard 42mm Rudge hubs.</p>
    <p>
    Harry Neilson<br>
    <a href="mailto:hhneilson@gmail.com">hhneilson@gmail.com</a><br>
	778-867-1614
    </p>
</div>
<div class="content-padding">
    <p><strong>Wanted:</strong>
    In search of 4 M-Type wheel hubs (late-type) in good condition.</p>
    <p>
    Russel Hertzog<br>
    <a href="mailto:bhertzog@alumni.brown.edu">bhertzog@alumni.brown.edu</a>
    </p>
</div>
</div>
