---
title: Members' Cars
layout: main-layout.hbs
base: ../
---
<div class="jump-links">
    <a href="MMM/"><img src="img/mini-m-type.png" alt=""></a><a href="MMM/">
        Learn More About MMM Cars
    </a>&nbsp;<span class="arrow">&blacktriangleright;</span>
</div>
<div id="member-cars" class="content-padding content-background">
<aside class="wide-only">
    <em>Want to see your car listed here? Send an email to 
    <a href="mailto:casey.duncan+nammmr@gmail.com">Casey Duncan</a>
    with a photo and information. We'd love to have all of our members' cars
    listed!</em>
</aside>
{{#each cars}}
    {{#if-changed type}} <h2 class="divider">{{type}} Type</h2>{{/if-changed}}
    <a class="car" href="members-cars/#{{vin}}" class="plain">
        <img src="thumb/{{vin}}.jpg" alt="{{year}} MG {{model}}" 
             title="click to enlarge">
        <div class="car-info">{{year}} {{model}} {{vin}}</div>
        {{#if description}}<div>{{description}}</div>{{/if}}
        <div>{{owner}}</div>
        <div>{{location}}</div>
    </a>
{{/each}}

    <div id="carousel" aria-modal="true" class="modal">
        <div class="element">
            <a href="{{page.url}}#" class="plain close nav" aria-label="close" onclick="$('#carousel').hide(200)">&times;</a>
            <a class="plain prev nav" aria-label="previous"">&lang;</a>
            <a class="plain next nav" aria-label="next">&rang;</a>
            <div class="caption"></div>
        </div>
    </div>
</div>

<script>
    var cars = [
    {{#each cars}}
        {
            id: "#{{vin}}",
            caption: "{{year}} MG {{model}}<br>{{owner}}",
            img: "photos/{{vin}}.jpg",
        },
    {{#repeat addt_photos}}
        {
            id: "#{{vin}}-{{@count}}",
            caption: "{{year}} MG {{model}}<br>{{owner}}",
            img: "photos/{{vin}}-{{@count}}.jpg",
        },
    {{/repeat}}
    {{/each}}
    ];

    function documentReady() {
        new Carousel($('#carousel'), cars, true);
    }
</script>
